@charset "UTF-8";
* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  padding: 0;
  outline: none;
  border: none;
}

img {
  display: block;
  width: 100%;
  min-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

:root {
  --color-white: #ffffff;
  --title-color-text: #212121;
  --primery-color-text: #757575;
  --color-prime: #000000;
  --color-hover: #2196f3;
  --color-hover-btn: #188ce8;
  --sections-background: #f5f4fa;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
    text-align: left;
  }
}

.logo-web {
  color: var(--color-hover);
}

.button {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;
  height: 50px;
  color: white;
  background-color: var(--color-hover);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover, .button:focus {
  background-color: var(--color-hover-btn);
}

.button__modal {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.button__subscribe {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button__modal--close {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: transparent;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.button__modal--close:hover, .button__modal--close:focus {
  fill: var(--color-hover);
}

.button__gallery {
  font-family: inherit;
  background-color: #f5f4fa;
  color: var(--title-color-text);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button__gallery:hover, .button__gallery:focus {
  background-color: var(--color-hover);
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.section-text {
  color: var(--primery-color-text);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.hero__title {
  color: white;
  font-family: Roboto;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto 30px auto;
  max-width: 360px;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
}

.section__title {
  color: var(--title-color-text);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .section__title {
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
}

.secondary__title {
  color: var(--title-color-text);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  /* text-transform: uppercase; */
}

.footer__title {
  color: var(--color-white);
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
  justify-content: space-between;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .header__container {
    width: 480px;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

@media screen and (min-width: 768px) {
  .header__container {
    display: flex;
    flex-direction: row;
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .header__container {
    width: 1200px;
  }
}

.header__logo {
  margin-right: 93px;
  color: var(--color-prime);
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav__list {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

@media screen and (max-width: 767px) {
  .header-nav__list {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .header-nav__item {
    display: inline;
    margin-right: 0;
  }
}

.header-nav__item:not(:last-child) {
  margin-right: 50px;
}

.tel-svg {
  margin-right: 10px;
  align-items: center;
}

.tel-svg:hover {
  color: var(--color-hover);
  fill: var(--color-hover);
}

.header-contact__link {
  display: flex;
  align-items: center;
  color: var(--primery-color-text);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  fill: #757575;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contact__link:hover, .header-contact__link:focus {
  color: var(--color-hover);
  fill: var(--color-hover);
}

@media screen and (max-width: 767px) {
  .header-contact__link {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-contact__link {
    display: block;
    padding: 0;
  }
}

.header-contact__wrap {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.header-contact__list {
  margin-left: auto;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .header-contact__list {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .header-contact__list {
    display: flex;
  }
}

.header-contact__item,
.header-nav__item {
  display: block;
}

.header-contact__item:not(:last-child),
.header-nav__item:not(:last-child) {
  margin-right: 50px;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .header-contact__item,
  .header-nav__item {
    display: inline;
    margin-right: 0;
  }
}

.header-contact__item:nth-child(1) {
  margin-right: 50px;
}

.header-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-color-text);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav__link:hover, .header-nav__link:focus {
  color: var(--color-hover);
  fill: var(--color-hover);
}

.menu-open-btn {
  margin-left: auto;
  padding: 12px 8px;
  background-color: var(--color-white);
}

@media screen and (min-width: 768px) {
  .menu-open-btn {
    display: none;
  }
}

.menu-open-btn__icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-open-btn__icon:hover {
  fill: var(--color-hover);
}

.menu-close-btn__icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-close-btn__icon:hover {
  fill: var(--color-hover);
}

.mob-menu {
  position: fixed;
  background-color: var(--color-white);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  padding-top: 48px;
  padding-bottom: 48px;
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .mob-menu {
    display: none;
  }
}

.mob-menu .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mob-menu.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.menu-close-btn {
  position: absolute;
  right: 15px;
  top: 10px;
  display: block;
  margin-left: auto;
  padding: 12px 8px;
  background-color: var(--color-white);
}

.menu-close-btn:hover, .menu-close-btn:focus {
  color: var(--color-hover);
}

.mob-menu-list__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--title-color-text);
}

.mob-menu-list__link:hover, .mob-menu-list__link:focus {
  color: var(--color-hover);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-list__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-connect__tel {
  display: block;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--color-hover);
  margin-bottom: 32px;
}

.mob-connect__mail {
  display: block;
  text-decoration: none;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--primery-color-text);
}

.mob-menu__connect {
  margin-bottom: 64px;
}

.mob-menu-social {
  display: flex;
  flex-direction: row;
}

.mob-menu-social__item:not(:last-child) {
  padding-right: 10px;
  margin-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mob-menu-social__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--color-hover);
}

.current {
  color: var(--color-hover);
  position: relative;
}

.current::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--color-hover);
  border-radius: 2px;
  left: 0;
  bottom: -1px;
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  margin: 0 auto;
  background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../imeges/hero-bg-mob-1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  align-items: center;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../imeges/hero-bg-mob-2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../imeges/hero-bg-tab-1x.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../imeges/hero-bg-tab-2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-bottom: 200px;
    padding-top: 200px;
    background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../imeges/hero-bg-desk-1x.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../imeges/hero-bg-desk-2x.jpg);
  }
}

.work-principles {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .work-principles {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.work-principles .secondary__title {
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .work-principles .secondary__title {
    text-align: left;
  }
}

.work-principles__list {
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .work-principles__list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .work-principles__list {
    display: flex;
    flex-wrap: nowrap;
    margin-right: -30px;
    margin-bottom: 0;
  }
}

.work-principles__item {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .work-principles__item {
    width: 354px;
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .work-principles__item {
    width: 270px;
    margin-right: 30px;
    margin-bottom: 0;
  }
}

.principles-icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  border-radius: 4px;
  background-color: var(--sections-background);
  margin-bottom: 30px;
}

.activity {
  padding-top: 94px;
  padding-bottom: 94px;
}

.activity .list {
  display: flex;
}

@media screen and (max-width: 1199px) {
  .activity {
    display: none;
  }
}

.activity__wrap {
  position: relative;
}

.activity__wrap-text {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  right: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  background: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.activity__item:not(:last-child) {
  margin-right: 30px;
}

.team {
  background-color: #f5f4fa;
  padding-top: 60px;
  padding-bottom: 60px;
}

.team .section__title {
  font-size: 28px;
  margin-bottom: 30px;
}

.team .secondary__title {
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;
}

.team .section-text {
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 16px;
}

@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__list {
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
  }
}

.team__item {
  width: 100%;
  margin-bottom: 30px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 768px) {
  .team__item {
    width: 354px;
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    width: 270px;
  }
}

.team__box {
  padding: 30px 20px 24px 20px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .team__box {
    padding-bottom: 30px;
  }
}

.socials {
  display: flex;
  align-items: center;
  justify-content: center;
}

.socials__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  color: #afb1b8;
  border-radius: 50%;
  background-color: #fff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials__link:hover, .socials__link:focus {
  background-color: var(--color-hover);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  cursor: pointer;
  color: #ffffff;
}

.svg-social {
  fill: currentColor;
}

.socials__item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.socials__item + .socials__item {
  margin-left: 10px;
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}

@media screen and (min-width: 1200px) {
  .clients__list {
    margin-bottom: 0;
  }
}

.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover {
  color: var(--color-hover);
  border: 1px solid #2196f3;
}

.clients-icon {
  fill: currentColor;
}

.clients__item {
  margin-right: 30px;
  margin-bottom: 30px;
  flex-basis: calc(100% / 2 - 30px);
}

@media screen and (min-width: 480px) {
  .clients__item {
    flex-basis: calc(100% / 2 - 30px);
  }
}

@media screen and (min-width: 768px) {
  .clients__item {
    flex-basis: calc(100% / 3 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    flex-basis: calc(100% / 6 - 30px);
    margin-bottom: 0;
  }
}

.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer__container {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .footer__container {
    flex-direction: row;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .footer__container {
    display: flex;
    align-items: baseline;
  }
}

.footer__logo {
  display: block;
  color: var(--color-white);
  margin-bottom: 20px;
}

.footer__address-wrap {
  min-width: 231px;
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer__address-wrap {
    margin-bottom: 0;
  }
}

.footer__address-link {
  display: block;
  text-align: center;
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  /* margin-bottom: 9px; */
}

@media screen and (min-width: 1200px) {
  .footer__address-link {
    text-align: left;
  }
}

.footer__address-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer__contact-link {
  display: block;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 1200px) {
  .footer__contact-link {
    text-align: left;
  }
}

.footer__social-wrap {
  text-align: center;
  margin-bottom: 60px;
  padding-right: 0px;
  padding-left: 0px;
}

@media screen and (min-width: 1200px) {
  .footer__social-wrap {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
    margin-left: 70px;
    margin-bottom: 0;
  }
}

.footer__social-list {
  display: flex;
  justify-content: center;
}

.footer__social-link {
  display: flex;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__social-link:hover, .footer__social-link:focus {
  background-color: var(--color-hover);
}

.footer__social-item + .footer__social-item {
  margin-left: 10px;
}

.footer-svg {
  fill: currentColor;
}

.subscribe {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

@media screen and (max-width: 1199px) {
  .subscribe {
    text-align: center;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe {
    white-space: nowrap;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe-form {
    margin-left: auto;
  }
}

.subscribe-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.subscribe__input {
  width: 100%;
  height: 50px;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  padding-right: 16px;
  padding-left: 16px;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 480px) {
  .subscribe__input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe__input {
    width: 358px;
    margin-right: 12px;
    margin-bottom: 0;
  }
}

.icon-send {
  margin: 0 10px 0 10px;
  fill: #ffffff;
}

.subscribe__label-wrap {
  text-align: center;
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .subscribe__label-wrap {
    text-align: left;
  }
}

.subscribe__input-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .subscribe__input-wrap {
    flex-direction: row;
  }
}

.gallery {
  padding-top: 94px;
  padding-bottom: 94px;
}

.gallery-filter__item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 767px) {
  .gallery-filter__item:not(:last-child):not(:last-child) {
    margin-bottom: 15px;
  }
}

.gallery-filter__list {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .gallery-filter__list {
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 40px;
  }
}

/* -----------Галерея----------------- */
@media screen and (min-width: 768px) {
  .gallery__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
    /* justify-content: space-between; */
  }
}

@media screen and (min-width: 768px) {
  .gallery__item {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .gallery__item {
    flex-basis: calc(100% / 3 - 30px);
  }
}

.gallery__box-title {
  color: var(--title-color-text);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.gallery__box-text {
  color: var(--primery-color-text);
  font-style: 400;
  font-size: 16px;
  line-height: 1.86;
  letter-spacing: 0.03em;
}

.gallery__box {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  flex-grow: 1;
}

.gallery__link-wrap {
  position: relative;
  overflow: hidden;
}

.gallery__item:hover .gallery-hover-text {
  transform: translateY(0);
}

.gallery-hover-text {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery__link {
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery__link:hover, .gallery__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1), visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
} */
.modal {
  width: 90vw;
  min-height: 581px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px 15px;
  transform: translate(-50%, -50%) scale(1) rotate(0deg);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    padding: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    padding: 40px;
  }
}

.title-modal {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5) rotate(720deg);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-field-coment {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form-input-icon {
  position: absolute;
  /* top: 20px; */
  left: 12px;
  bottom: 11px;
  fill: var(--title-color-text);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.modal-input {
  outline: none;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus,
.modal-coment:focus {
  border: 1px solid var(--color-hover);
}

.modal-input:focus ~ .form-input-icon {
  fill: var(--color-hover);
}

.modal-coment {
  outline: none;
  min-height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;
}

.modal-coment::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.check-text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (min-width: 1200px) {
  .check-text {
    font-size: 14px;
    line-height: 1.71;
  }
}

.check-text span {
  width: 16px;
  height: 15px;
  border: 2px solid #000000;
  border-radius: 3px;
  margin-right: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.form-check {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.form-check-icon {
  fill: #ffffff;
}

.policy-check:checked + .check-text span {
  border: none;
  background-color: var(--color-hover);
}
/*# sourceMappingURL=main.css.map */