.gallery {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.gallery-filter__item:not(:last-child) {
  margin-right: 8px;
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
}
.gallery-filter__list {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
  @media screen and (max-width: 767px) {
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 40px;
  }
}

/* -----------Галерея----------------- */

.gallery__list {
  // display: flex;
  // flex-wrap: wrap;
  // margin-right: -30px;
  margin-bottom: -30px;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
    /* justify-content: space-between; */
  }
}

.gallery__item {
  // margin-right: 30px;
  margin-bottom: 30px;
  background: #ffffff;
  // flex-basis: calc((100% - 90px) / 3);
  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 3 - 30px);
  }
}

.gallery__box-title {
  color: var(--title-color-text);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  margin-bottom: 4px;
}
.gallery__box-text {
  color: var(--primery-color-text);
  font-style: 400;
  font-size: 16px;
  line-height: 1.86;
  letter-spacing: 0.03em;
}
.gallery__box {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  flex-grow: 1;
}

.gallery__link-wrap {
  position: relative;
  overflow: hidden;
}
.gallery__item:hover {
  .gallery-hover-text {
    transform: translateY(0);
  }
}
.gallery-hover-text {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  // padding: 63px 24px;
  padding: 20px 20px;
  background-color: rgba(33, 150, 243, 0.9);
  font-weight: 400;
  // font-size: 18px;
  font-size: 16px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 400px) {
    padding: 63px 24px;
    font-size: 18px;
  }
}
.gallery__link {
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
