.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  // padding-top: 200px;
  // padding-bottom: 200px;
  text-align: center;
  margin: 0 auto;
  background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../imeges/hero-bg-mob-1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  align-items: center;
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../imeges/hero-bg-mob-2x.jpg);
  }

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../imeges/hero-bg-tab-1x.jpg);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../imeges/hero-bg-tab-2x.jpg);
    }
  }

  @media screen and (min-width: 1200px) {
    padding-bottom: 200px;
    padding-top: 200px;
    background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../imeges/hero-bg-desk-1x.jpg);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../imeges/hero-bg-desk-2x.jpg);
    }
  }
}
