.work-principles {
  padding-top: 60px;
  padding-bottom: 60px;

  .secondary__title {
    @include font(null, 700, null, null, null);
    text-align: center;
    // font-weig
    // text-transform: up
    // margin-bottom;
  }
}

.principles-icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 450px;
  height: 120px;
  background-color: var(--sections-background);
  margin-bottom: 30px;
}

// .work-principles__list {
//   display: flex;
//   margin-right: -30px;
// }

// .work-principles__item {
//   width: 270px;
//   margin-right: 30px;
// }
