:root {
  --color-white: #ffffff;
  --title-color-text: #212121;
  --primery-color-text: #757575;
  --color-prime: #000000;
  --color-hover: #2196f3;
  --color-hover-btn: #188ce8;
  --sections-background: #f5f4fa;
}
